#typed-out{
    overflow: hidden;
   
    white-space: nowrap;
    animation: 
      typing 5s forwards;

    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  .p-tag{
    font-size: 15px;
    text-align: center;
  }
 .p-tag{
    overflow: hidden;
   
    white-space: nowrap;
    animation: 
      typing 10s forwards;

    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }